.pastor-modal-shell {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 744px;
    height: 346px;

    background: #3A4520;
    border-radius: 0px 50px;
}

.pastor-img-modal {
    box-sizing: border-box;

    position: relative;
    width: 291px;
    height: 294px;
    left: 29px;
    top: 27px;

    border: 8px solid #7F9948;
    border-radius: 0px 50px;
}

.pastor-text-modal {
    position: relative;
    display: flex;
    font-family: 'Palatino';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    color: #F8F3E3;
    flex-direction: column;
}