.hc-header {
  display: flex;
  background-color: #f8f3e3;
  align-items: center;
}

.hc-header-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.hc-header-h {
  font-family: 'Palatino';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: #3A4520;
  text-align: left;
}

.hc-header-description {
  font-family: 'Palatino';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #3A4520;
  text-align: left;
}

.hc-header-flex {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 60%;
}

.shep-container {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.shep-flex {
  display: flex;
  flex-direction: row;
  gap: 20%;
  width: 100%;
}
