.photo-gallery-container {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 164px;
}

.photo-gallery-h {
  font-family: 'Palatino';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color:#3A4520;
}

.photo-gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 20px;
}

.photo-img {
  position: relative;
  width: 312px;
  height: 312px;
  left: 2px;
  
  box-sizing: border-box;
  object-fit: cover;

  background: #D9D9D9;
  display: block;
}
