.footer-box {
  padding: 30px 10px;
  background: #2f353f;
  bottom: 0;
  width: 100%;
  position: 'fixed';
  margin: 0 auto;
}

.icon-group {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1000px;
  margin: 0 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 102px;
  max-width: 300px;
}

.footer-column1 {
  display: grid;
  align-content: center;
  margin-left: 157px;
}

.footer-row {
  display: grid;
  grid-template-columns: 200px 340px 200px 100px 1fr;
  grid-gap: 10px;
}

.footer-link {
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Palatino;
  text-decoration: none;

  /* p:hover {
    color: white;
    text-decoration: underline;
    transition: 200ms ease-in;
  } */
}

.footer-text {
  color: #fff;
  margin-bottom: 2px;
  font-size: 14px;
  font-family: Palatino;
}

.footer-button {
  border: 2px solid #f09c78;
  background: #f09c78;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px;
  border-radius: 30px;
}