.App {
    font-family: sans-serif;
}

.title-center .faq-title {
    justify-content: right;
}

.FAQ .faq-title,
.FAQ .row-title-text {
    justify-content: left;
}

.FAQ .faq-body .faq-row .row-title {
    /* increase specificity of row-title*/
    display: block;
    text-align: left;
}
