body {
  margin: 0;
  font-family: Palatino;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Palatino;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.leaf-outline {
  position: relative;
  width: 323.46px;
  height: 335.86px;
}

.leaf-shadow {
  position: absolute;
  left: 0%;
  right: 11.58%;
  top: 8.6%;
  bottom: 0%;
  transform: rotate(-0.58deg);
}

.leaf {
  position: absolute;
  left: 4.04%;
  right: 3.21%;
  top: 2.92%;
  bottom: 0.91%;
  transform: rotate(-1.87deg);
  mask-image: url('./leaf.svg');
  mask-repeat: no-repeat;
  max-width: 500px;
  max-height: 450px;
  min-height: 325px;
  min-width: 350px;
}
.event-container-shell {
  position: relative;
  width: 325px;
  height: 524px;
}

.img-box {
  position: absolute;
  width: 325px;
  height: 301px;
  left: 2px;
  
  box-sizing: border-box;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 42.56%;
  object-fit: cover;

  background: #D9D9D9;
  border: 8px solid #3A4520;
  border-radius: 0px 100px;
}

.event-title-details {
  position: absolute;
  left: 4.62%;
  right: -8%;
  top: 61.26%;
  bottom: 27.29%;

  font-family: 'Palatino';
  font-style: normal;
  font-weight: 700;

  color: #000000;

  height: 60px;
  width: 336px;
  left: 15px;
  top: 321px;
}

.event-title {
  font-size: 24px;
  line-height: 36px;
}

.event-details {
  font-size: 18px;
  line-height: 24px;
}

.event-description {
  position: absolute;
  
  height: 131px;
  width: 301px;
  left: 15px;
  top: 398px;

  left: 4.62%;
  right: 2.77%;
  top: 75.95%;
  bottom: -0.95%;

  font-family: 'Palatino';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}